*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainContainer
{
height: 100vh !important;
 max-width: 100vw !important;
}

table
{
  height: 60vh;
}

.mytable
{
  height: 65vh !important;
  overflow-y: auto;
}

th,td,tr{
  border: 1.3px solid black;
  border-collapse: collapse;
}





